<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->

  <servlet>
        <servlet-name>mySQLConnection</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBConnectionImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mySQLConnection</servlet-name>
        <url-pattern>/abms/DBConnectionImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>emailChecker</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBCheckForEmailImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>emailChecker</servlet-name>
        <url-pattern>/abms/DBCheckForEmailImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBRegisterUserImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/abms/DBRegisterUserImpl</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>submitComplaint</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBSubmitComplaintImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>submitComplaint</servlet-name>
        <url-pattern>/abms/DBSubmitComplaintImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getContactInfo</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBGetContactInfoImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getContactInfo</servlet-name>
        <url-pattern>/abms/DBGetContactInfoImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>uploadServlet</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.FileUploadServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>uploadServlet</servlet-name>
    	<url-pattern>/abms/upload</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>fileUploader</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.FileUploader</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>fileUploader</servlet-name>
    	<url-pattern>/abms/uploader</url-pattern>
  	</servlet-mapping>
  	
    <servlet>
	    <servlet-name>downloadServlet</servlet-name>
	    <servlet-class>com.andreiolar.abms.server.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>downloadServlet</servlet-name>
	    <url-pattern>/abms/downloadServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>getPersonalCosts</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBPersonalCostsImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPersonalCosts</servlet-name>
        <url-pattern>/abms/DBPersonalCostsImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
	    <servlet-name>pdfGenerator</servlet-name>
	    <servlet-class>com.andreiolar.abms.server.PersonalViewToPDFServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>pdfGenerator</servlet-name>
	    <url-pattern>/abms/pdfGenerator</url-pattern>
	</servlet-mapping>
    
    <servlet>
        <servlet-name>selfReader</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBSelfReadingImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selfReader</servlet-name>
        <url-pattern>/abms/DBSelfReadingImpl</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>sendVote</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBSubmitVoteImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sendVote</servlet-name>
        <url-pattern>/abms/DBSubmitVoteImpl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>com.andreiolar.abms.server.ChangePasswordImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/abms/ChangePasswordImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBForgotPasswordImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/abms/DBForgotPasswordImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBChangeForgotPasswordImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/abms/DBChangeForgotPasswordImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>replyToConversation</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBReplyToConversationImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>replyToConversation</servlet-name>
        <url-pattern>/abms/DBReplyToConversationImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>checkCode</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBCodeCheckerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkCode</servlet-name>
        <url-pattern>/abms/DBCodeCheckerImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>searchConsumptionReport</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBSearchForConsumptionReportImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchConsumptionReport</servlet-name>
        <url-pattern>/abms/DBSearchForConsumptionReportImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getVotingSession</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBGetVotingSessionImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getVotingSession</servlet-name>
        <url-pattern>/abms/DBGetVotingSessionImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getVoteSessions</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBGetVoteSessionsImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getVoteSessions</servlet-name>
        <url-pattern>/abms/DBGetVoteSessionsImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>conversationDetails</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBConversationDetailsImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>conversationDetails</servlet-name>
        <url-pattern>/abms/DBConversationDetailsImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>conversationMessages</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBGetConversationMessagesImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>conversationMessages</servlet-name>
        <url-pattern>/abms/DBGetConversationMessagesImpl</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>userDetails</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBGetUserDetailsImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDetails</servlet-name>
        <url-pattern>/abms/DBGetUserDetailsImpl</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>otherTenants</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBGetOtherTenantsImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>otherTenants</servlet-name>
        <url-pattern>/abms/DBGetOtherTenantsImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>startConversation</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBStartConversationImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startConversation</servlet-name>
        <url-pattern>/abms/DBStartConversationImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBUpdateProfileImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/abms/DBUpdateProfileImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>retreiveSubmittedComplaints</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBRetreiveSubmittedComplaintsImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>retreiveSubmittedComplaints</servlet-name>
        <url-pattern>/abms/DBRetreiveSubmittedComplaintsImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getReadingsForDate</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBGetReadingsForDateImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getReadingsForDate</servlet-name>
        <url-pattern>/abms/DBGetReadingsForDateImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registerTenant</servlet-name>
        <servlet-class>com.andreiolar.abms.server.DBRegisterTenantImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerTenant</servlet-name>
        <url-pattern>/abms/DBRegisterTenantImpl</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>excelUploader</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.ExcelUploader</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>excelUploader</servlet-name>
    	<url-pattern>/abms/excelUploader</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>checkForUpkeepReport</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.DBCheckUpkeepReportExistsImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>checkForUpkeepReport</servlet-name>
    	<url-pattern>/abms/DBCheckUpkeepReportExistsImpl</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>activeVotingSession</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.DBActiveVoteSessionImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>activeVotingSession</servlet-name>
    	<url-pattern>/abms/DBActiveVoteSessionImpl</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>disableVotingSession</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.DBDisableVotingSessionImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>disableVotingSession</servlet-name>
    	<url-pattern>/abms/DBDisableVotingSessionImpl</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>createVotingSession</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.CreateVotingSessionImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>createVotingSession</servlet-name>
    	<url-pattern>/abms/CreateVotingSessionImpl</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>retreiveUpkeepCostReports</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.RetreiveUpkeepCostReportsImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>retreiveUpkeepCostReports</servlet-name>
    	<url-pattern>/abms/RetreiveUpkeepCostReportsImpl</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>payConsumption</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.ConsumptionPaymentImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>payConsumption</servlet-name>
    	<url-pattern>/abms/ConsumptionPaymentImpl</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>payUpkeep</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.UpkeepPaymentImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>payUpkeep</servlet-name>
    	<url-pattern>/abms/UpkeepPaymentImpl</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>listPayments</servlet-name>
    	<servlet-class>com.andreiolar.abms.server.PaymentHistoryServiceImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>listPayments</servlet-name>
    	<url-pattern>/abms/PaymentHistoryServiceImpl</url-pattern>
  	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Abms.html</welcome-file>
  </welcome-file-list>
  
    

</web-app>
