/** Add css rules here for your application. */
/* Login */
body {
	background-color: #FFFFFF !important;
	color: #333333;
	width: 100%;
	height: 100%;
}

.loginPanel {
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#loading {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	margin-left: -100px;
	z-index: 1;
}

/* Registration */
.gwt-TabPanel {
	margin-top: 4px;
}

.gwt-TabPanelBottom {
	background-color: #E8E8E8;
}

.gwt-TabBar {
	padding-top: 2px;
	border-bottom: 4px solid #878787;
	background-color: #fff;
}

.gwt-TabBarItem {
	padding: 4px;
	cursor: pointer;
	background-color: #e8e8e8;
	margin-right: 2px;
}

.gwt-TabBarItem-selected {
	padding: 4px;
	font-weight: bold;
	cursor: default;
	background-color: #878787;
	margin-right: 2px;
}

/* Registration E-Mail Checker */
.emailLabel {
	float: left;
	margin-right: 20px;
}

.emailField {
	width: 250px;
}

.fixed-input {
	width: 200px;
	height: 17px;
	padding: 3px;
}

/* Validation fields */
.error-text-box {
	border: 1px solid red;
	background: white url("images/icons/validation_error_icon.png")
		no-repeat left center;
	padding-left: 15px !important;
}

.no-error-text-box {
	width: 200px;
	height: 17px;
	padding: 3px;
}

/* Rich text area*/
.gwt-RichTextArea {
	
}

.hasRichTextToolbar {
	border: 0px;
}

.gwt-RichTextToolbar {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border-bottom: 1px solid #BBBBBB;
	padding: 3px;
	margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
	padding: 0px 1px 0px 0px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.cw-RichText {
	border: 1px solid #BBBBBB;
	border-spacing: 0px;
}

/* Scroll Panel */
.scroll-panel {
	background-color: #fff;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 1870px;
	height: 700px;
	padding: 5px;
}

.pager {
	margin: auto;
}

.cellTable {
	border-bottom: 1px solid #ccc;
	text-align: left;
	margin-bottom: 4px;
}

.header-table {
	table-layout: fixed;
	width: 91%;
	position: fixed;
	text-align: left;
	top: 160px;
	border-bottom: 5px solid #ddd;
	border-collapse: collapse;
	background-color: #fff;
}

.upkeep-table {
	table-layout: fixed;
	width: 99%;
	border-collapse: collapse;
	margin-top: 95px;
}

.table-row:nth-child(even) {
	background-color: #f2f2f2;
}

.table-data {
	text-align: left;
	padding: 8px;
	overflow: hidden;
}

.dec-panel {
	background-color: #fff;
}

.dec-panel input[type="radio"] {
	margin-right: 15px;
	width: 10%;
	height: 2em;
}

.radio-button-vote {
	margin-right: 15px;
	width: 10%;
	height: 2em;
}

.radio-button-label {
	font-size: 25px;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: #660066;
	text-decoration: none;
}

a:hover {
	color: #000066;
	text-decoration: underline;
}

a:active {
	color: #CCFFFF;
	text-decoration: underline;
}

/* Flex Table */
.cw-FlexTable {
	border: 2px solid #BBBBBB;
}

.cw-FlexTable td {
	padding: 3px;
}

.cw-FlexTable-buttonPanel td {
	border: 0px;
}

.no-border-button {
	padding: 0 !important;
	border: none !important;
	background: none !important;
}

/* Conversation Table */
.flexTable {
	width: 100%;
	display: table;
	padding: 10px;
	border-spacing: 0;
}

.flexTable tr:nth-child(even) {
	background-color: #fdfcf5;
}

.flexTable tr {
	display: table-row;
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	filter: none;
}

.flexTable td {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	border-style: solid;
	border-color: #f2f2f2;
	border-width: 0 0 2px 2px;
	line-height: 16px;
	font-size: 13px;
	padding: 4px;
}

.flexTable a {
	color: #962b27;
	text-decoration: none;
}

.flexTable a:visited {
	color: #962b27;
}

.flexTable a:hover {
	color: #962b27;
}

.flexTable a:selected {
	color: #962b27;
}

.flexTable a:-webkit-any-link {
	cursor: auto;
}

.headerRow {
	height: auto;
	margin: auto;
	overflow: visible;
	padding: 0;
	position: static;
	width: auto;
	top: auto;
	left: auto;
}

.headerRow td {
	padding: 5px;
	background-color: #666;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}

.firstHeaderCell {
	border-left: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 4px;
	background-clip: padding-box;
	width: 50px;
}

.lastHeaderCell {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	background-clip: padding-box;
}

.reply-box {
	margin-bottom: 15px;
	margin-top: 3px;
	display: block;
	clear: both;
	font-size: 12px;
	color: #444;
	transition: all 0s ease-out;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 1px 2px rgba(0, 0, 0, 0.2)
		inset;
	line-height: 21px;
	padding: 0 3px;
	border: 1px solid #bbb;
	border-radius: 2px;
	background-clip: padding-box;
	overflow: auto;
	vertical-align: top;
	resize: vertical;
	background-color: white;
	cursor: auto;
}

.reply-box:focus {
	background-color: #fcf984;
	border-color: #999999;
}

::selection {
	background: #1777cb;
	color: #fff;
	text-shadow: none;
}

.reply-button {
	display: block;
	height: auto;
	padding: 3px 10px;
	margin: 5px 0 0;
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 13px;
	line-height: 21px;
	border: 1px solid #8b2823;
	border-radius: 4px;
	background-clip: padding-box;
	background: -webkit-linear-gradient(top, #c03732 20%, #962b26 100%)
		!important;
	text-shadow: 0 -1px 0 #561816;
	overflow: hidden;
}

.move-conversation-context-menu {
	-webkit-user-select: none;
	visibility: visible;
	max-height: 450px;
	overflow: auto;
	z-index: 7;
	border-radius: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: opacity .218s;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	cursor: default;
	font-size: 13px;
	margin: 0;
	outline: none;
	padding: 6px 0;
}

.move-conversation-context-menu-item-moveto {
	position: relative;
	color: #333;
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 4px 8em 4px 30px;
	white-space: nowrap;
}

.move-conversation-context-menu-item-moveto:hover {
	background-color: #eee;
	border-color: #eee;
	border-style: dotted;
	border-width: 1px 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Main navigation menu */
.navigation-menu {
	/* 	dependent style applied to horizontal menu bars */
	float: left;
	position: relative;
	background-color: #f5f5f5;
	border-bottom: 5px solid #333333;
}

.navigation-menu table tbody tr td {
	border-bottom: 5px solid transparent;
	float: left;
	margin-bottom: -2px;
	text-align: left;
	-moz-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
	display: block;
	text-decoration: none;
	-moz-transition: color 450ms ease-in-out 0s, background-color 450ms
		ease-in-out 0s;
	-ms-transition: color 450ms ease-in-out 0s, background-color 450ms
		ease-in-out 0s;
	-o-transition: color 450ms ease-in-out 0s, background-color 450ms
		ease-in-out 0s;
	-webkit-transition: color 450ms ease-in-out 0s, background-color 450ms
		ease-in-out 0s;
	transition: color 450ms ease-in-out 0s, background-color 450ms
		ease-in-out 0s;
	white-space: normal;
	color: #333333;
	display: block;
	font-size: 1.3em;
	line-height: 49px;
	padding: 0 15px;
	text-transform: uppercase;
}

.navigation-menu table tbody tr .gwt-MenuItem-selected {
	background-color: #333333;
	color: #FFFFFF;
}

.login-demo {
	padding: 5%;
	height: 100%;
	margin-bottom: 0 !important;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.5)), url("images/icons/city_1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.panel {
	background: url("images/icons/background_img.png");
	background-size: 100%;
	padding: 0px !important;
	padding-top: 40% !important;
}

.fieldPanel {
	background: white;
	padding: 6%;
}

.imgProfile {
	margin-top: -120px;
	width: 40%;
	margin-left: 30%;
	border: 5px solid #fff;
}

.rowAction {
	margin-top: 20px;
}

header, main, footer {
	padding-left: 280px;
}

footer {
	z-index: 996;
}

.label {
	margin: 24px;
}

.footer-copyright {
	text-align: center;
	vertical-align: middle;
}

@media ( min-height : 500px) {
	.main-container {
		min-height: 480px;
	}
}

@media ( min-height : 600px) {
	.main-container {
		min-height: 580px;
	}
}

@media ( min-height : 700px) {
	.main-container {
		min-height: 680px;
	}
}

@media ( min-height : 800px) {
	.main-container {
		min-height: 780px;
	}
}

@media ( min-height : 900px) {
	.main-container {
		min-height: 880px;
	}
}

@media ( min-height : 1000px) {
	.main-container {
		min-height: 980px;
	}
}

.about {
	margin-top: 20px;
}

.first-paragraph {
	margin-bottom: 20px;
}

.main-about {
	margin-bottom: 40px;
}

.main-about ul li {
	padding: 1px;
}

.main-about ul li ul li {
	padding: 1px;
	margin-left: 12px;
}

.author ul li {
	padding: 1px;
	margin-left: 12px;
}

hr {
	border: 0;
	height: 1px !important;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

strong {
	color: #000;
	font-style: normal;
	font-weight: bold !important;
}

.comboboxInst {
	width: 30%;
	margin-top: 25px !important;
	margin: auto;
}

.complaintsComponent {
	width: 30%;
	margin-top: 25px !important;
	margin-left: 25px !important;
}

.complaintsEditor {
	width: 95%;
	margin: auto;
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}

.twoButtons {
	display: flex;
	margin-left: 25px !important;
	margin-top: 25px !important;
	margin-bottom: 75px !important;
}

.contact-info-table {
	width: 95%;
	margin: auto;
	margin-top: 25px !important;
}

.top-panel {
	background-color: #2196f3 !important;
}

.consumption-stepper {
	width: 80%;
	margin: auto;
	margin-top: 25px !important;
}

.pay-consumption-description-panel{
	width: 60%;
	height: 175px;
	margin: auto;
	margin-top: 25px !important;
	border-radius: 3px;
	box-shadow: 0 10px 10px -2px rgba(180,185,201,0.5);
	border-top: 1px solid #f0f1f4;
}

.pay-consumption-note-label{
	width: 60%;
	margin: auto;
	margin-top: 25px !important;
	color: #9e9e9e !important;
}

.consumption-pay-center-button{
	width: 60%;
	margin: auto;
	margin-top: 25px !important;
}

.pay-personal-costs-view{
	width: 60%;
	margin: auto;
	margin-top: 25px !important;
	border-radius: 3px;
	box-shadow: 0 10px 10px -2px rgba(180,185,201,0.5);
	border-top: 1px solid #f0f1f4;
}

.personal-costs-pay-center-button{
	width: 60%;
	margin: auto;
	margin-top: 25px !important;
	margin-bottom: 100px !important;
}